/* universal css */
* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1F2937;
}

.header .left {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 150px;
}

.header .right {

    display: flex;
    padding-right: 200px;


}

.header .right ul {
    display: flex;
    gap: 20px;



}

.header .right ul li {
    list-style: none;

}

.header .right ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* section 1 */

.mainsec1 {
    display: flex;
    background-color: #1F2937;
    padding: 50px 150px 50px 160px;

}

.secleft1 {
    width: 500px;
    height: 230px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7eb;
    /* margin: 20px; */
    padding-right: 50px;


}

.headsec1 {
    font-size: 44px;
    font-weight: bolder;
    color: #f9faf8;

}

.btn button {
    color: white;
    background-color: #3882F6;
    height: 35px;
    width: 140px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.secright1 {
    width: 500px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    border: 2px solid #797b80;
    background-color: #797b80;
    padding-right: 50px;
}

/* section 2 */

.section2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */

}

.section-2header {
    padding-top: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.mainbox {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;

}

.subbox {
    /* border: 2px solid black; */
    display: flex;
    padding: 10px;
    padding-bottom: 65px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.box {

    border: 2px solid #3882F6;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: 120px;
    width: 120px;
}

.boxphara {
    text-align: center;
}


/* section 3 */

.section3 {
    background-color: #e5e7eb;
}

.main-phara {
    display: flex;
    flex-direction: column;
    padding: 70px 0px;
    margin: 0px 400px;
    /* border: 2px solid black; */



}

.main-phara p {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sec3phara1 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.sec3text {
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}

/* section 4 */

.sec4main {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 10px;
    /* border: 2px solid black; */
    margin: 80px 200px;
    padding: 30px;
}

.sec4right-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.sec4left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4left .btn {
    border: 2px solid #f9faf8;
    color: white;
    background-color: #3882F6;
    height: 35px;
    width: 140px;
    border-radius: 5px;
}

.sec4right-phara {
    font-size: 16px;
    color: #e5e7eb;
}

/* footer */

.footer {
    background-color: #1F2937;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 10px 0px;

}